{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'image/anish.png' %}" class="img-fluid">
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h6 id="hometext" >Anish  is a csit student currently studing at NCCS college</h6 id="hometext">
  </div>
</div>

<h2 class="mt-5">Skills</h2>
<hr>
<ul>
  <li>Html and css</li>
  <li>javascript</li>
  <li>React</li>
  <li>django</li>
  <li>basic python and java</li>
  <li>git</li>
</ul>

<h2 class="mt-5">Portfolio</h2>
<hr>
<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">

    {% if project.url_link %}
    <a href="{{ project.url_link }}">
      <img src="{{ project.image.url }}" class="img-fluid mb-2">
    </a>
    {% else %}

    <img src="{{ project.image.url }}" class="img-fluid mb-2">
    {% endif %}
    <h3>{{ project.title }}</h3>
    <p>{{ project.description }}</p>

  </div>
  {% endfor %}
</div>

{% endblock %}
